html {
  padding: 0px;
}


  .navbar {
    background-color: #343a40;
  }

  .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }

  .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
  }

  .nav-link.active {
    font-weight: bold;
    color: white !important;
  }




 .hero {
  padding-top: 100px;
  height: 500px;
  background-color: #f8f9fa;
 }


 .value-proposition {
  padding: 80px 0;
 }

 #carouselExampleCaptions {
  height: 600px;

 }

 .display-4 {
    color: #343a40;
    font-size: 48px;
    font-weight: bold;
 }

 .lead {
    color: #343a40;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .typed-text {
    font-weight: bold;
    color: #007bff;
  }

  .cursor {
    display: inline-block;
    width: 8px;
    height: 32px;
    background-color: #007bff;
    margin-left: 5px;
    animation: blink 1s infinite;
  }


.value-proposition {
    background-color: #fff;
    padding: 80px 0;
  }

  .carousel-item img {
    height: 300px;
    object-fit: cover;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
    text-align: center;
  }

  .carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
  }

  .carousel-caption p {
    font-size: 18px;
  }

  /* Call-to-Action Section */
  .call-to-action {
    background-color: #f8f9fa;
    padding: 80px 0;
  }

  .section-title {
    color: #343a40;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .section-description {
    color: #343a40;
    font-size: 20px;
    margin-bottom: 40px;
  }
.carousel-item img {
  height: 600px;
  object-fit: cover;
}

/* styles.css */


#fq {
 text-align: center;
 padding: 30px;
}

.accordion {
  height: 100%;
}


.accordion-button:hover {
  background-color: #e9e9e9;
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-body {
  background-color: #f9f9f9;
  color: #333;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.accordion-body p {
  margin: 30px;
}



.call-to-action {
  background-color: #f8f9fa;
  padding: 80px 0;
}

.call-to-action .section-title {
  margin-bottom: 30px;
}


/* Pop-up styles */
.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.popup-content h2 {
  font-size: 24px;
}

.popup-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.popup-content p {
  margin-bottom: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


footer {
  background-color: #333;
  color: #fff;
}

footer p {
  margin-bottom: 0;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ccc;
}

